<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>ConnectHealthPro</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>ConnectHealthPro</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>GMSApiKey</key>
		<string>AIzaSyATQiPzHvg0zfR_P0u0cVZpfPPsDYyU3OQ</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>This app needs access to the camera for video calls.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>We use Face ID for quick authentication</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app uses your location for map functionality</string>
		<key>NSCalendarsUsageDescription</key>
<string>This app needs calendar access to manage events and reminders.</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>This app needs location access to provide location-based features.</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>This app needs photo library access to upload or share images.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to show relevant map content</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>We need access to your microphone for voice input.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>We need access to speech recognition for this feature.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.648993315957-gdek92s3b2egu95hgesqsfpd5419u18o</string>
					<!-- paste here -->
				</array>
			</dict>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
			<string>fetch</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
